@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --cor-primaria: #C60000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}

aside{
    width: 50%;
    margin-top: 40px;
    margin-left: 12px;
}

main{
    display: flex;
    justify-content: center;
    width: 100%;
}

article{
    margin-top: 15%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

section{
    width: 100%;
    height: 100vh;
    background-image: url("/pulmao.png");
    background-size: contain;
}