@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --cor-primaria: #C60000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100%;
}

.corpoPadrao{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrossel{
    background-color: #C60000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}